:root {
	color: rgba(255, 255, 255, 0.87);
	background-color: #be5252;
	font-family: 'Segoe UI', Arial, sans-serif;
}

#root {
	margin: 0 auto;
	text-align: center;
}

a {
	text-decoration: inherit;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	place-items: center;
	overflow: hidden;
}
